<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <profileable android:shell="true" />

        <receiver
            android:name=".debug.ReleaseStateCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.SET_RENDERER" />
                <action android:name="${applicationId}.SET_RENDERER_DEBUG_TOOLS" />
                <action android:name="${applicationId}.SET_IR" />
                <action android:name="${applicationId}.SET_FAST_FORWARD" />
                <action android:name="${applicationId}.SET_FRAME_LIMIT_SPEED" />
                <action android:name="${applicationId}.SET_JIT" />
                <action android:name="${applicationId}.GET_FPS" />
                <action android:name="${applicationId}.SET_BGOBJ_LOG" />
                <action android:name="${applicationId}.SET_RENDERER_2D_DEBUG_CONTROLS" />
                <action android:name="${applicationId}.SET_RENDERER_3D_DEBUG_CONTROLS" />
                <action android:name="${applicationId}.LAUNCH_ROM" />
                <action android:name="${applicationId}.WAIT_ROM_READY" />
                <action android:name="${applicationId}.SET_DEBUG_PAUSE" />
                <action android:name="${applicationId}.STEP_FRAME" />
                <action android:name="${applicationId}.STEP_FRAMES" />
                <action android:name="${applicationId}.DUMP_RENDERER_CAPTURE" />
                <action android:name="${applicationId}.TOUCH_SCREEN" />
                <action android:name="${applicationId}.PRESS_INPUT" />
                <action android:name="${applicationId}.SET_INPUT_HELD" />
                <action android:name="${applicationId}.SAVE_STATE" />
                <action android:name="${applicationId}.LOAD_STATE" />
                <action android:name="${applicationId}.DUMP_ROM_SEARCH_STATE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="me.magnum.melonds.debug.DebugCommandInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
